.search-container {
  border-radius: 25px;
  padding: 10px 15px;
  background-color: #F9F9F9;
}

.search-icon {
  margin-right: 10px;
  color: #1155CC;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: inherit;
  background-color: transparent;
}
